<div class="container py-4">
    <div class="payment-icons d-flex flex-wrap flex-md-nowrap justify-content-center justify-content-md-between">
        <div><img src="/assets/images/payments/worldpay.png" alt=""></div>
        <div><img src="/assets/images/payments/sagepay.png" alt=""></div>
        <div><img src="/assets/images/payments/firstdata.png" alt=""></div>
        <div><img src="/assets/images/payments/visa.png" alt=""></div>
        <div><img src="/assets/images/payments/mastercard.png" alt=""></div>
        <div><img src="/assets/images/payments/maestro.png" alt=""></div>
        <div><img src="/assets/images/payments/american.png" alt=""></div>
    </div>
</div>
