<nav
    class="navbar absolute-top navbar-toggleable navbar-light justify-content-between deskwize-navbar theme-{{theme}}"
>
    <a
        class="navbar-brand d-flex flex-row align-items-center ml-md-3"
        queryParamsHandling="merge"
        routerLink=""
        routerLinkActive="active"
    >
        <div class="deskwize-navbar-image"></div>
        <span class="deskwize-navbar-brand ml-2 text-white">deskwize</span>
    </a>
    <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav mr-auto deskwize-label">
            <li class="nav-item active">
                <span class="navbar-text navbar__headline font-weight-bold">{{navbar.headline}}</span>
            </li>
        </ul>
        <span class="navbar-text text-white font-weight-bold text-small hidden-sm-down">Learn. Compare. Save.</span>
    </div>
</nav>
