// Colours
$color-text: #515459;
$color-line: #4a86f8;
$color-head: #ffb300;
$color-brand: #fab420;
$color-green: #9dc200;
$color-black: #000000;
$color-blue: #29bbce;
$color-deep-green: #71b48d;
$color-orange: #fba027;
$main-bg-color: #f6f6f6;
$prod-bg-header: #49a1f8;

$prod-header-image-size: 200px;
