.deskwize-brief-feature-image-wrapper {
    height: 223px;
    width: 223px;
    background-size: cover;
    background-position: center center;
    border-radius: 50%;
}

.no-space {
    flex: 0 0 20%;
    padding-left: 0;
    padding-right: 0;
}

.theme-white {
    background-color: #fff;
}

.deskwize-brief-lots-feature-description {
    max-width: 193px;
}
