<div class="container-fluid">
    <div class="row promo d-flex">
        <div class="col-lg-2"></div>
        <div class="col-12 col-lg-8 d-flex justify-content-center align-content-center flex-wrap text-center">
            <div class="h1 font-weight-bold pb-2 mx-sm-5">
                Business products &<br>services made effortless
            </div>
            <p class="hidden-md-down">Whatever your business needs, whether you want a merchant terminal<br />or a photocopier, we will find the right provider for you!</p>
            <div class="search-wrap mb-3 mx-sm-5 p-2">
                <main-find-product></main-find-product>
            </div>
            <ul class="list-inline mx-sm-5">
                <li class="list-inline-item">Most Popular: EPOS</li>
                <li class="list-inline-item">Merchant Terminal</li>
                <li class="list-inline-item">CRM System</li>
                <li class="list-inline-item">Photocopiers</li>
            </ul>
        </div>
        <div class="col-lg-2"></div>
    </div>
</div>
