<div class="container">
    <div class="row d-flex">
        <div class="col-lg-6 d-flex align-items-stretch justify-content-center mb-4">
            <div class="align-middle">
                <img class="mw-100" src="assets/images/easy_find/ratings.png">
            </div>
        </div>
        <div class="col-lg-6 d-flex align-items-stretch align-content-center flex-wrap mb-4 find-list">
            <h4>1. Tell us what you need</h4>
            <p>Start by answering a few quick questions about the business solution you are looking for</p>
            <h4>2. Get tailored quotes</h4>
            <p>Our platform helps you to get tailored quotes from the most suitable and competitive providers</p>
            <h4>3. Find the right solution</h4>
            <p>Compare quotes, offers and profiles, then choose the provider that best suits your needs</p>
        </div>
    </div>
</div>
