@import "../../../styles/variables";

:host {
    font-size: 0.9rem;
}

.deskwize-footer-image {
    width: 25px;
}

.deskwize-footer {
    background: url('../../../assets/images/shared/deskwize-bg-dark.png');

    a {
        color: #fff;

        &:hover {
            color: #fff;
            text-decoration: none;
        }
    }

    .deskwize-footer-links {
        padding-left: 0;

        li {
            list-style: none;
            margin-bottom: 0.5rem;
        }
    }
}

.support-button {
    position: absolute;
    right: 50px;
    top: -22px;
    background-color: $color-line;
    color: #fff;
    border: 0 solid #800000;
    border-radius: 40px;
    font-size: 0.9rem;
}
