<div class="container-fluid deskwize-footer text-white">
    <div class="container">
        <button class="support-button py-2 px-3 font-weight-bold" (click)="toTopScroll()">
            <i class="glyph-icon fi flaticon-question pr-1"></i>
            <span>Support</span>
        </button>
        <div class="row justify-content-center px-0 py-5 p-md-5">
            <div class="col-12">
                <div class="row text-center text-md-left mb-3 mb-md-0">
                    <div class="col-12 col-md-3">
                        <ul class="deskwize-footer-links">
                            <li>
                                <span class="font-weight-bold">Company</span>
                            </li>
                            <li>
                                <a routerLink="/about"
                                    routerLinkActive="active" queryParamsHandling="merge">About</a>
                            </li>
                            <li>
                                <a routerLink="/legal_notice"
                                    routerLinkActive="active" queryParamsHandling="merge">Legal Notice</a>
                            </li>
                            <li>
                                <a routerLink="/termos"
                                    routerLinkActive="active" queryParamsHandling="merge">Terms and Conditions</a>
                            </li>
                            <li>
                                <a routerLink="/privacy"
                                    routerLinkActive="active" queryParamsHandling="merge">Privacy</a>
                            </li>
                            <li>
                                <a routerLink="/carrers"
                                    routerLinkActive="active" queryParamsHandling="merge">Careers</a>
                            </li>
                            <li>
                                <a routerLink="/information"
                                    routerLinkActive="active" queryParamsHandling="merge">Information</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-12 col-md-3">
                        <ul class="deskwize-footer-links">
                            <li  class="mt-3 mt-md-0">
                                <span class="font-weight-bold">Customers</span>
                            </li>
                            <li>
                                <a routerLink="/how_works"
                                    routerLinkActive="active" queryParamsHandling="merge">How works</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-12 col-md-3">
                        <ul class="deskwize-footer-links">
                            <li class="mt-3 mt-md-0">
                                <span class="font-weight-bold">Pros</span>
                            </li>
                            <li>
                                <a routerLink="/how_works"
                                    routerLinkActive="active" queryParamsHandling="merge">How It Works</a>
                            </li>
                            <li>
                                <a routerLink="/sucess_stories"
                                    routerLinkActive="active" queryParamsHandling="merge">Success Stories</a>
                            </li>
                            <li>
                                <a routerLink="/signup"
                                    routerLinkActive="active" queryParamsHandling="merge">Sign up</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-12 col-md-3">
                        <div>
                            Join us on
                        </div>
                        <div class="h4">
                            <a href="https://www.facebook.com/" >
                                <i class="glyph-icon fi flaticon-facebook-logo-button"></i>
                            </a>
                            <a href="https://twitter.com">
                                <i class="glyph-icon fi flaticon-twitter-logo-button"></i>
                            </a>
                            <a href="https://www.instagram.com">
                                <i class="glyph-icon fi flaticon-instagram-logo"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="col text-center">
                        <img class="deskwize-footer-image" src="assets/images/brand/main-logo.svg">
                        <span>
                            <span class="h5 font-weight-bold">deskwize</span>
                             &copy; 2017.
                        </span>
                    <br class="hidden-md-up">
                        <span>
                            All rights reserved / Privacy Policy & Legal
                        </span>
                        <span style="display:block;font-size:10px">
                            Deskwize.com is a trading style of Trafix Media Ltd, the financial intermediation arrangements are made through our partners, Boost Finance Ltd. Boost Finance is a limited company registered in England and Wales with registration number 09244571. Boost Finance Ltd is authorised and regulated by the Financial Conduct Authority (FCA: 698286). Data protection number ZA118367. All consultants that we refer you to are short term financing specialists who are regulated by the FCA and are authorised to offer advice on any enquiry that you might have. Boost Finance Ltd acts solely as an introducer and does not offer any advice on your enquiry. Boost Finance Ltd will not charge you any fees for this service.
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
